<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Image to PDF Converter</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/normal.css') }}">


</head>

<body>

<form method="post" class="file-uploader" action="/converted" enctype="multipart/form-data">
  <div class="file-uploader__message-area">
    <p>Select a file to upload</p>
  </div>
  <div class="file-chooser">
    <input class="file-chooser__input" type="file" name="img" multiple="true" required>
  </div>
  <input class="file-uploader__submit-button" type="submit" value="Upload">
</form>
  <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script  src="{{ url_for('static', filename='js/script.js')}}"></script>

</body>


</html>
